* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Ubuntu, sans;
  font-size: 16px;
  color: #555;
}

p {
  margin: 15px 0;
  text-align: justify;
  text-indent: 2em;
}

main {
  margin: 3em auto 6em auto;
  max-width: 800px;
  line-height: 1.6em;
}

h1 {
  font-size: 3em;
  font-weight: normal;
  margin: 0 0 1em;
}

h2 {
  font-size: 1.8em;
  font-weight: normal;
  margin: 3em 0 1em;
}

h3 {
  font-size: 1.2em;
  font-weight: bold;
  margin: 2em 0 1em;
}

#map {
  position: fixed;
  top: 0;
  right: 0;
  width: 160px;
  height: 100%;
  z-index: 100;
}
